/* Reset and Basic Styles */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Merriweather', serif;

}

body:after{
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  background: url(https://i.imgur.com/C8sSf3A.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Header Styling */
header {
  background: transparent;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  z-index: 1000;
}

#menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

#accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the section takes up the full viewport height */
}

#logo {
  max-width: 100%; /* Ensure the logo does not exceed the width of its container */
  max-height: 80%; /* Set a maximum height for the logo */
  /* Add any additional styles for your logo here */
}

#scrollButton {
  display: block;
  margin: 100px auto 0; /* Adjust margin as needed */
  width: 50px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  cursor: pointer;
  transition: transform 0.3s ease-in-out; /* Smooth transition for the transform property */
}

#scrollButton:hover {
  transform: translateY(10px); /* Moves the button up on hover */
}

#quote {
  text-align: center;
  color: white;
  font-family: 'Merriweather', serif; /* Setting the font family */
  color: white; /* Text color */
  font-size: 40px; /* Default font size for desktop */
  margin-top: 20px; /* Adjust the margin as needed */
}

#mission .mission-content {
  padding-left: 150px; /* Space from the left */
  max-width: 60%;
}

#mission {
  background-image: url('https://i.imgur.com/7M10jv6.png');
  background-size: cover;
  display: flex;
  font-family: 'Merriweather Sans', sans-serif; /* Setting the font family */
  justify-content: left;
  min-height: 100vh;
}

#mission-title {
  letter-spacing: 2px;
  color: white; /* Adjust color as needed */
  font-size: 36px; /* Adjust font size as needed */
  margin-top: 100px;
  margin-bottom: 20px; /* Space between the title and paragraph */
}

#mission-description {
  font-size: 24px; /* Default font size for desktop */
  line-height: 160.6%;
  font-weight: 300; /* Lighter font weight */
  color: white; /* Adjust color as needed */
  font-size: 20px; /* Adjust font size as needed */
  letter-spacing: 2px;
}





#équipe {
  background-image: url('https://i.imgur.com/sT74xr9.png');
  background-size: cover;
  display: flex;
  flex-direction: column; /* Stack the title and image container vertically */
  align-items: center; /* Center-align the items */
  justify-content: space-between; /* Space between the title and the images */
  height: 100vh; /* Make the section at least the height of the viewport */
  text-align: center;  /* Center-align text for all text elements inside */
}

#équipe #quote {
  font-size: 40px; /* Adjust font size as necessary */
  font-family: 'Merriweather Sans', sans-serif; /* Setting the font family */
  margin-top: 50px; /* Add some space above the title */
  color: #FFF; /* Ensure the text color is visible against the background */
}

/* General styles for desktop which will be default */
#équipe .image-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#équipe .team-photo {
  max-width: 30%;      /* Limits each image to take up only 30% of the section width */
  height: auto;        /* Keeps the aspect ratio of the images */
}

#équipe .arrow {
  display: none;  /* Arrows not displayed on desktop */
}

#projets {
  background-image: url('https://i.imgur.com/azxE2P2.png');
  background-size: cover;
}

ul#menuItems {
  font-family: 'Merriweather Sans', sans-serif;
  list-style: none;
  padding: 0;
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column; /* Change to vertical layout */
  align-items: left; /* Center items horizontally */
}

ul#menuItems li {
  margin: 10px 0; /* Add margin between menu items */
}

ul#menuItems li a {
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

ul#menuItems li a.active {
  background-color: rgba(85, 85, 85, 0.8);
}

/* Section Styling */
section {
  min-height: 100vh;
}

.stats-list {
  list-style: none; /* Removes default list styling */
  font-weight: 300;
  padding: 0; /* Removes default padding */
  width: 50%; /* Matches the paragraph width */
  margin: 20px auto; /* Centering the list */
  font-family: 'Merriweather Sans', sans-serif; /* Setting the font family */
  color: white; /* Text color */
  font-size: 24px; /* Font size */
  letter-spacing: 1px; /* Letter spacing */
}

.stats-list li {
  opacity: 0; /* Start each item as invisible */
  transform: translateX(-20px); /* Start each item 20px to the left */
  text-align: left; /* Aligns text to the left */
  padding-top: 40px; /* Top padding */
  transition: none; /* No initial transition */
}

.stats-list li.animate {
  animation: fadeInRight 0.8s forwards; /* Animation to fade in and slide right */
}

#projets {
  background-image: url('https://i.imgur.com/azxE2P2.png');
  background-size: cover;
  display: flex;
  font-family: 'Merriweather Sans', sans-serif; /* Setting the font family */
  justify-content: left;
  min-height: 100vh;
}

#projets .projets-content {
  padding-left: 150px; /* Space from the left */
  max-width: 60%;
}

#projets-title {
  letter-spacing: 2px;
  color: white; /* Adjust color as needed */
  font-size: 36px; /* Adjust font size as needed */
  margin-top: 100px;
  margin-bottom: 20px; /* Space between the title and paragraph */
}

#projets-description {
  font-size: 24px; /* Default font size for desktop */
  font-weight: 300; /* Lighter font weight */
  color: white; /* Adjust color as needed */
  font-size: 20px; /* Adjust font size as needed */
  line-height: 1.6;
}


.carousel-wrapper {
  position: relative;
  width: 812px; /* Width of the images */
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 100); /* Adds drop shadow: x-offset, y-offset, blur-radius, color */
  position: relative;
  width: 812px; /* This should only be as wide as the image */
  overflow: hidden; /* Keeps images within the bounds of the carousel */
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: -100px; /* Positioned outside the left edge of the carousel */
}

.right-arrow {
  right: -100px; /* Positioned outside the right edge of the carousel */
}

#contact {
  color: white;
  padding: 50px 20px;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif; /* Setting the font family */
}

.contact-form-container {
  margin-top: 100px;
  max-width: 600px;
  margin: 0 auto;
  background: transparent; /* No background for the form container */
}

.contact-form-container h2 {
  letter-spacing: 4px;
  font-size: 36px; /* Font size */
  color: white;
  margin-bottom: 30px;
  text-align: center;
}

.contact-form-container label {
  text-align: left;
  display: block;
  margin-top: 20px;
  color: white;
  font-size: 16px;
}

.contact-form-container input,
.contact-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #091934; 
  color: white;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
  background-color: white;
  color: #091934;
}

.contact-form-container button {
  background-color: white;
  color: #091934;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  display: block;  /* Makes the button a block element */
  margin-left: auto;  /* Pushes the button to the right */
  margin-top: 20px;
}

.contact-form-container button:hover {
  background-color: #aaaaaa; /* Lighter gray for hover effect */
}





/* Animation keyframes */
@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

/* Delaying each list item's animation */
.stats-list li:nth-child(1) {
  animation-delay: 1s; /* Starts 0.5 seconds after the page loads */
}

.stats-list li:nth-child(2) {
  animation-delay: 1.5s; /* Starts 1 second after the page loads */
}

.stats-list li:nth-child(3) {
  animation-delay: 2s; /* Starts 1 second after the page loads */
}

.stats-list li:nth-child(4) {
  animation-delay: 2.5s; /* Starts 1 second after the page loads */
}
/* Add more nth-child entries if you have more list items */




/* Responsive Design */
@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  body {
    background-attachment: scroll; /* This changes the behavior to update with scroll */
}

  #menu {
    display: block;
  }

  ul#menuItems {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 0px;
    overflow: hidden;
    transition: opacity 0.3s, visibility 0.3s 0.3s; /* Delay visibility transition */
    opacity: 0;
    visibility: hidden; /* Hide menu initially */
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul#menuItems.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s; /* No delay when becoming visible */
}


  ul#menuItems li {
    margin: 10px 0;
  }

  #mission {
    background-position: calc(50% + 50px) bottom;
}

#équipe .image-container {
  position: relative;
  height: 100vh;  
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  overflow: hidden;
}

#équipe .team-photo {
  max-width: 80%; 
  height: 100vh; 
  object-fit: contain;
  align-items: flex-end;   
  display: none;  
}

#équipe .team-photo.visible {
  display: block;  
}

#équipe .arrow {
  display: block;  /* Arrows not displayed on desktop */
  position: absolute;
  top: 50%; /* Start at the vertical center */
  transform: translateY(-50%); /* Shift up by half its own height to truly center it */
  color: white;
  font-size: 2em;
  cursor: pointer;
  z-index: 10;
  background: transparent;
  border: none;
}

#équipe .arrow.left {
  left: -20px; /* Adjust for visibility from the left edge */
}

#équipe .arrow.right {
  right: -20px; /* Adjust for visibility from the right edge */
}

  #quote {
    font-size: 24px; /* Default font size for desktop */
  }
  #paragraph-a-propos {
    width: 100%;
    font-size:16px;
    margin-top: -20px;
  }
  section {
    padding: 20px;
  }

  .stats-list {
    margin-top: -10px;
    width: 100%; /* Matches the paragraph width */
    font-size: 16px;
  }

}
